@function pxToVw($screen, $input) {
    $result: ($input / 1px ) / ($screen / 100) * 1vw;
    @return $result;
}

.title-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}

.eventdate__mailing {
  margin: 60px 0 32px;
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    & + * {
      margin-top: 16px;
    }
  }
  input {
    border: 1px solid #BABABA;
    background-color: transparent;
    padding: 14px 10px 12px 22px;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 16px;
    &::placeholder {
        color: #000;
        font-size: 16px;
        line-height: 16px;
        opacity: .5;
    }
    &:focus {
        outline: none;
    }
    & + * {
      margin-top: 32px;
    }
  }
  button {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    background-color: #5945F3;
    color: #fff;
    padding: 15px 29px 13px;
    height: 42px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    &:hover {
        background-color: #EE706B;
    }
  }
}

.about .about__content .about__contacts .about__contacts__social {
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 0 67px;
  box-sizing: border-box;
  @media (max-width: 992px) {
    padding: 0 24px;
  }
  @media (max-width: 540px) {
    padding: 0 16px;
  }
}