.calendar {
    padding-top: 64px;
}
.calendar__container {}
.calendar__title {}

.calendar__content {
    padding-right: pxToVw(1440, 45px);
}
.calendar__row {
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.calendar__month {
    grid-row: span 100;
    min-width: 213px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    padding: 45px 23px 0 pxToVw(1440, 45px);
    p {
        display: table-caption;
    }
}

.calendar__event {
    min-width: 168px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -1px -1px 0 0;
    border: 1px solid #E0E0E0;
    &:hover {
        .calendar__event-button {
            overflow: visible;
            max-height: 40px;
        }
        .calendar__event-location {
            visibility: hidden;
        }
    }
    &_no-hover {
        &:hover {
            .calendar__event-location {
                visibility: visible;
            }
        }
    }
}
.calendar__event-content {
    padding: 12px 24px 8px 12px;
    height: 100%;
    text-decoration: none;
    color: inherit;
    &:hover {
        .calendar__event-date {
            color: #5945F3;
        }
        .calendar__event-name {
            color: #5945F3;
        }
    }
}

.calendar__event-date {
    &_pink {
        color: #EE706B;
    }
    & + * {
        margin-top: 8px;
    }
    p {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        & + & {
            margin-left: 4px;
        }
        span {
            position: absolute;
            font-size: 8px;
            line-height: 8px;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
}
.calendar__event-name {
    display: block;
    text-decoration: none;
    color: #000;
    & + * {
        margin-top: 8px;
    }
    p {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        & + & {
            margin-left: 6px;
        }
        span {
            position: absolute;
            font-size: 8px;
            line-height: 8px;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
}
.calendar__event-location {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: .5;
    min-height: 32px;
}
.calendar__event-status {
    font-size: 10px;
    line-height: 10px;
    color: #EE706B;
    text-transform: uppercase;
    margin-top: auto;
    padding: 0 6px 8px 12px;
}
.calendar__event-button {
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-bottom: -1px;
    margin-top: auto;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: #5945F3;
        text-decoration: none;

        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        &:hover {
            background-color: #EE706B;
        }
    }
}

.calendar__event-rescheduling {
    position: absolute;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-top: 2px;
    box-sizing: border-box;
    background-color: #FFFD38;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    z-index: -1;
}