.calendar {
    padding-top: 64px;
}
.calendar__container {}
.calendar__title {}

.calendar__content {
    padding-right: pxToVw(1440, 45px);
    overflow: hidden;
    max-width: 100%;
    @media (max-width: 740px) {
        padding-right: 0;
    }
}
.calendar__row {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    @media (max-width: 1420px) {
        grid-template-columns: repeat(7,1fr);
    }
    @media (max-width: 1250px) {
        grid-template-columns: repeat(6,1fr);
    }
    @media (max-width: 1080px) {
        grid-template-columns: repeat(5,1fr);
    }
    @media (max-width: 910px) {
        grid-template-columns: repeat(4,1fr);
    }
    @media (max-width: 740px) {
        grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: 600px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 374px) {
        grid-template-columns: repeat(1,1fr);
    }
}

.calendar__month {
    grid-row: span 100;
    min-width: 213px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    padding: 45px 23px 0 pxToVw(1440, 45px);
    @media (max-width: 740px) {
        grid-row: 1;
        grid-column: 1/-1;
        border-bottom: 1px solid #E0E0E0;
        text-align: center;
        padding: 50px 0;
        font-size: 44px;
        line-height: 24px;
    }
    @media (max-width: 374px) {
        font-size: 32px;
        line-height: 24px;
    }
    p {
        display: table-caption;
        @media (max-width: 740px) {
            display: block;
        }
    }
}

.calendar__event {
    min-width: 168px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -1px -1px 0 0;
    border: 1px solid #E0E0E0;
    &:hover {
        .calendar__event-button {
            overflow: visible;
            max-height: 40px;
            @media (max-width: 740px) {
                max-height: 48px;
            }
        }
        .calendar__event-location {
            visibility: hidden;
            @media (max-width: 992px) {
                visibility: visible;
            }
        }
    }
    &_no-hover {
        &:hover {
            .calendar__event-location {
                visibility: visible;
            }
        }
    }
    &_gray {
        .calendar__event-status {
            position: relative;
            display: none;
            @media (max-width: 740px) {
                display: flex;
            }
        }
        @media (max-width: 740px) {
            .calendar__event-date, .calendar__event-name, .calendar__event-location {
                color: #828282;
                * {
                    color: #828282;
                }
            }
            .calendar__event-status {
                position: relative;
                &:before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #FB7053;
                    position: absolute;
                    bottom: 12px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                &:after {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border-top: 1px solid #fff;
                    border-left: 1px solid #fff;
                    position: absolute;
                    bottom: 19px;
                    left: 50%;
                    transform: translate(-50%, 0) rotate(-135deg);
                }
            }
        }
    }
    &_crossed {
        @media (max-width: 740px) {
            border: 1px solid #FB7053;
            background: linear-gradient(to top right, transparent calc(50% - 1px), #FB7053, transparent calc(50% + 1px) );
            .calendar__event-date, .calendar__event-name, .calendar__event-location {
                color: #000;
                * {
                    color: #000;
                }
            }
        }
    }
    &_yellow {
        @media (max-width: 740px) {
            background-color: #FFFF00;
            position: relative;
            &:after {
                content: '';
                background: url("/static/images/rescheduling.png");
                background-size: contain;
                width: 65px;
                height: 66px;
                position: absolute;
                top: 11px;
                right: 18px;
            }
        }
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.calendar__event_yellow:after {
    -webkit-animation: rotating 10s linear infinite;
}

.calendar__event-content {
    padding: 12px 24px 8px 12px;
    height: 100%;
    text-decoration: none;
    color: inherit;
    @media (max-width: 992px) {
        padding: 12px 24px calc(8px) 12px;
    }
    @media (max-width: 740px) {
        padding: 24px 18px 28px 18px;
        display: flex;
        flex-direction: column;
    }
    &:hover {
        .calendar__event-date {
            color: #5945F3;
            @media (max-width: 740px) {
                color: #000;
            }
        }
        .calendar__event-name {
            color: #5945F3;
        }
    }
}

.calendar__event-date {
    &_pink {
        color: #EE706B;
        @media (max-width: 740px) {
            color: inherit;
            span {
                color: #EE706B; 
            }
        }
    }
    & + * {
        margin-top: 8px;
        @media (max-width: 740px) {
            margin-top: 24px;
        }
    }
    p {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        @media (max-width: 740px) {
            font-size: 44px;
            line-height: 44px;
        }
        & + & {
            margin-left: 4px;
        }
        span {
            position: absolute;
            font-size: 8px;
            line-height: 8px;
            text-transform: uppercase;
            margin-left: 4px;
            @media (max-width: 740px) {
                font-size: 10px;
                line-height: 10px;
                font-weight: bold;
            }
        }
    }
}
.calendar__event-name {
    display: block;
    text-decoration: none;
    color: #000;
    @media (max-width: 740px) {
        margin-bottom: 14px;
    }
    & + * {
        margin-top: 8px;
        @media (max-width: 740px) {
            margin-top: 14px;
        }
    }
    p {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        @media (max-width: 740px) {
            font-size: 18px;
            line-height: 22px;
            color: #5945F3;
            padding-right: 12px;
        }
        & + & {
            margin-left: 6px;
        }
        span {
            position: absolute;
            font-size: 8px;
            line-height: 8px;
            text-transform: uppercase;
            margin-left: 4px;
            @media (max-width: 740px) {
                font-size: 10px;
                line-height: 13px;
                font-weight: bold;
            }
        }
    }
}
.calendar__event-location {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: .5;
    min-height: 32px;
    @media (max-width: 740px) {
        line-height: 16px;
        text-transform: none;
        opacity: 1;
        margin-top: auto;
    }
}
.calendar__event-status {
    font-size: 10px;
    line-height: 10px;
    color: #EE706B;
    text-transform: uppercase;
    margin-top: auto;
    padding: 0 6px 8px 12px;
    @media (max-width: 992px) {
        padding: 0 12px 14px 12px;
        text-align: center;
    }
    @media (max-width: 740px) {
        padding: 0 18px 30px;

        font-size: 12px;
        line-height: 15px;
        font-weight: bold;

        min-height: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_tick {
        @media (max-width: 740px) {
            position: relative;
            &:before {
                content: '';
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #FB7053;
                position: absolute;
                bottom: 12px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &:after {
                content: '';
                width: 7px;
                height: 7px;
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                position: absolute;
                bottom: 19px;
                left: 50%;
                transform: translate(-50%, 0) rotate(-135deg);
            }
        }
    }
}
.calendar__event-button {
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-bottom: -1px;
    margin-top: auto;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 992px) {
        overflow: visible;
        max-height: 40px;
        position: relative;
        margin: 0;
    }
    @media (max-width: 740px) {
        width: calc(100% - 18px * 2);
        margin-left: 50%;
        transform: translateX(-50%);
        max-height: 48px;
        padding-bottom: 30px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: #5945F3;
        text-decoration: none;

        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        @media (max-width: 992px) {
            background-color: transparent;
            border: 1px solid #5945F3;
            box-sizing: border-box;
            color: #5945F3;
            font-weight: bold;
        }
        @media (max-width: 740px) {
            height: 48px;
        }
        &:hover {
            background-color: #EE706B;
            @media (max-width: 992px) {
                background-color: #5945F3;
                color: #fff;
            }
        }
    }
}

.calendar__event-rescheduling {
    position: absolute;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-top: 2px;
    box-sizing: border-box;
    background-color: #FFFD38;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    z-index: -1;
    @media (max-width: 740px) {
        display: none;
    }
}